.ant-btn-primary {
  background-color: #2dcea2;
}
.ant-btn-primary:hover {
  background-color: #2dcea3cc !important;
}
.ant-btn-primary:focus {
  background-color: #26b891 !important;
}

.ant-table-filter-dropdown-btns .ant-btn-link {
  color: #b71c1c !important;
}

/// row blue 
.blue-row{
  background-color: #F0F5FF;
  color: #2F54EB;
}
.red-row{
  background-color: #FFF1F0;
  color: #000000D9;
}