@tailwind base;
@tailwind components;
@tailwind utilities;

@import "font";
@import "color";

* {
  margin: 0;
  padding: 0;
  font-family: $font-family-Estedad-FD !important;
}


*,
::after,
::before {
  box-sizing: border-box !important;
}

.ant-select-selection-placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.rmdp-container {
  width: 100% !important;
}

body {
  overflow-y: auto;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: $default-track-color;
}
::-webkit-scrollbar-thumb {
  background-color: $default-thumb-color;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba($default-thumb-color, 0.78);
}

/// don't delete
.backdrop-blur-sm {
  position: fixed;
}

.ant-upload-wrapper ,.ant-upload {
  width: 100% !important;
}

.my-custom-upload .ant-upload-list-item {
  background-color: #2dcea2;
  width: 20%;
}
.chat-message-file .ant-upload-wrapper{
  width: auto !important;
}
// .chat-message-file{
//   z-index: -99;
// }
.chat-message-file-user .ant-upload-wrapper  .ant-upload-list .ant-upload-list-item-container .ant-upload-list-item{
display: flex !important;
flex-direction: row-reverse !important;
background-color: #ECEFF1;
}
.chat-message-file-user .ant-upload-wrapper  .ant-upload-list .ant-upload-list-item-container .ant-upload-list-item a{
display: flex !important;
flex-direction: row-reverse !important;
}
.chat-message-file-user .ant-upload-wrapper  .ant-upload-list .ant-upload-list-item-container .ant-upload-list-item:hover{
background-color: #ECEFF1 !important;
}
label {
  padding: 0 !important;
}

div.ml-3.mr-12 {
  margin-right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

div[class="shrink-0"] {
  margin-top: 0.15rem;
}

.ant-upload-list-item-actions {
  display: none;
}
.ant-upload-list-item {
  margin: 0;
  width: 15rem;
}
.ant-upload-list-item-done {
  width: 15rem !important;
  border-bottom-right-radius: 1px !important;
}
.ant-upload-list-item:hover {
  background-color: #2dcea2 !important;
}

.ant-switch {
  background-color: rgba(0, 0, 0, 0.25);
}

.ant-dropdown {
  z-index: 99999;
}

.ant-pagination {
  display: flex;
  justify-content: center !important;
  width: 100%;
  flex-direction: row-reverse;
}

.ant-table-content {
  width: 100% !important;
}

.ant-table-container {
  overflow-x: auto;
}

.ant-table-container::after , .ant-table-container::before{
  box-shadow: none !important;
}

.ant-empty-description {
  color: #546e7a !important;
}

// don't delete if you want call me !
#root
  > section
  > div.max-w-lg.mx-auto
  > div
  > div
  > div.absolute.left-0.top-2\/4.h-0\.5.w-full.-translate-y-2\/4.bg-gray-300 {
  display: none;
}
#root
  > section
  > div.max-w-lg.mx-auto
  > div
  > div
  > div.absolute.left-0.top-2\/4.h-0\.5.w-full.-translate-y-2\/4.bg-gray-900.transition-all.duration-500 {
  display: none;
}


.ant-message {
  z-index: 1000 !important;
}
.Toastify__toast-body {
  z-index: 1000 !important;

}
.Toastify__toast {
  z-index: 1000 !important;

}


@media screen and (min-width:720px) {
}